.lead__title {
    max-width: 720px;
    margin: 0;
    text-align: center;
    font-size: 96px;
    font-weight: 900;
    line-height: 100px;
}

@media (max-width: 670px) {
    .lead__title {
        max-width: 100%;
        font-size: 68px;
        line-height: 72px;
    }
}

@media (max-width: 480px) {
    .lead__title {
        font-size: 46px;
        line-height: 50px;
    }
}

@media (max-width: 425px) {
    .lead__title {
        max-width: 288px;
        font-size: 40px;
        line-height: 44px;
    }
}