.footer__links {
    display: grid;
    grid-template-columns: repeat(5, auto);
    gap: 18px;
}

@media (max-width: 710px) {
    .footer__links {
        grid-template: repeat(2, auto) / repeat(3, auto);
    }
}

@media (max-width: 560px) {
    .footer__links {
        grid-template: repeat(3, auto) / repeat(2, auto);
    }
}

@media (max-width: 425px) {
    .footer__links {
        grid-template: repeat(5, auto) / auto;
        gap: 32px;
    }
}