.place {
    max-width: 100%;
    margin: 0 0 80px;
    display: grid;
    grid-template-columns: minmax(auto, 460px) 1fr;
    grid-template-rows: 1fr;
    gap: 48px 40px;
}

.place:last-child {
    margin: 0;
}

@media (max-width: 1024px) {
    .place {
        grid-template-columns: minmax(auto, 440px) 1fr;
        column-gap: 32px;
    }
}

@media (max-width: 840px) {
    .place {
        margin: 0 0 73px;
        grid-template-columns: minmax(auto, 340px) 1fr;
        column-gap: 28px;
    }
}

@media (max-width: 670px) {
    .place {
        grid-template-columns: minmax(auto, 240px) 1fr;
    }
}

@media (max-width: 560px) {
    .place {
        margin: 0 0 50px;
        grid-template-columns: 1fr;
        gap: 32px;
    }
}